{%extends "registration/base.html"%}
{% load bootstrap3 %}
{% load static %}

{% block styles %}
{{block.super}}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<body>
  <div class="container">
    <div class="row">
      <!-- Empty div -->
      <div class="col-md-4"></div>
      <div class="col-md-4">
        {% if form.errors %}
        <p> Password or Username is incorrect </p>
        {% endif %}
        <br>
        <br>
        <br>
        <br>

         <p>--OR--</p>
                <p>Login with</p>
                </a> <a href="{% url 'social:begin' 'google-oauth2' %}">
                  <button type="button" name="button" class="btn btn-danger">Google <i class="fab fa-google-plus-g"></i></button>
                </a>
                <br>
                <br>
                 <br>
              <p>Don't have an account? <a href="/signup">Sign up</a>
                </center>
            </div>
</body>
<style>
  body{
    background: rgb(243, 243, 243);
    font-family: 'Lato', sans-serif;
  }
  .btn{
    width:60%;
  }
</style>

{% endblock %}
