<h1></h1>
    <div class="col-md-3 offset-md-">
        <div class="column">
        <div class="card border-success mb-3">
            <div class="card-header">My Chatrooms</div>
            <div class="card-body text-success">
                {% for chatroom in chatrooms %}
                <a href="/chatroom/{{chatroom.id}}" class="card-text">{{chatroom.name}}</a>
                <br>
                                <br>

                {% endfor %}
            </div>
        </div>
    </div>
    </div>
</div>
