{% extends 'base.html' %}
{% load static%}
{% load leaflet_tags %}

{% block styles%}
{{block.super}}
<link href="https://fonts.googleapis.com/css?family=Fredoka+One|Patua+One|Philosopher" rel="stylesheet"> 
<link rel="stylesheet" href="{% static 'css/gyms.css' %}">
{% endblock %}

{% block content %}
{{block.super}}
{% leaflet_css %}
<div class="container">
  <p> {% leaflet_map "main" callback="ourfunction" %} </p>
  <div class="row">
      {% for gym in gyms %}
      <div class="col-xs-12 col-sm-6 col-md-4 images">
        <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
          <div class="card-header">
            <h4><b> {{gym.name}}</b></h4>
          </div>
          <div class="card-body">
              <img src="{{gym.image.url}}" alt="" style="height:auto;width: 100% !important;position: center;size: cover;">
              <br>
              <br>
              <h5><b> {{gym.description}} </b></h5>
          </div>
          <div class="card-footer">
            <a href="{% url 'join' gym.id %}"><button type="button" class="btn btn-success" style="float:right !important;">Join Gym</button></a>
          </div>
        </div>
        <br>
      </div>
      {% endfor %}
   
</div>
</div>

{% endblock%}

{% block scripts%}
{{block.super}}
{% leaflet_js %}
<script type ="text/javascript">
function ourfunction(map, options){
var ourdata = '{% url "data"%}';
$.getJSON(ourdata, function(data){
L.geoJson(data).addTo(map);
})
}
</script>
{% endblock %}
