{% extends 'base.html' %}
{% load static %}

{% block styles %}
{{block.super}}
<link rel="stylesheet" href="{% static 'css/index.css' %}">

{% endblock %}


{% block content %}
{% include 'navbar.html' %}
<div class="container">
<div class="dp">
{% if profiles.weight %}
{% if profiles.profile_pic %}
<center>{{user.username}}</center>
<img src= "">
{% else %}
  <img src="/static/img/avatar.jpg" alt="avatar" class="img-thumbnail rounded-circle prof">
   <center>{{user.username}}</center>
{% endif %}
</div>
<div class="table">
<table>
 <tr>
   <th>Weight</th>
   <th>Height</th>
   <th>Goal</th>
 </tr>
 <tr>
   <td>{{profiles.weight}}</td>
   <td>{{profiles.height}}</td>
   <td>{{profiles.goal}}</td>
 </tr>

</table>
</div>
<div class="sep"></div>

<div class="card">
<h1> Bio </h1>
{{profiles.bio}}
</div>
{% else %}
<div class="alternate">
<h1>Welcome {{user.username}} to Smart Gym</h1>
<p> Your profile is empty, update your profile <a href="{%url 'edit_profile'%}">Here</a> </p>
</div>
{% endif %}

</div>
{% endblock %}